# ignore all object files
*.o
*.out
*.d

#ignore executables
*.exe
app/src/main/bin-vscode/Release/main
app/src/main/build/main
app/src/main/build/main.desktop
app/src/main/bin-vscode/Debug/
build/

# ignore brickGame files
brickGame

# ignore depends file
depends
